@media (min-width: 560px) {
  html, body, #root {
    width:100vw;
    height:100%;
    overflow:hidden;
  }

  .CMain {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    display: flex;
    padding: 8px 0;
  }

  .CMain .CTexts {
    padding: 0 4px;
    overflow-y: scroll;
  }

  .CMain .inputContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 8px;
  }

  .CMain .inputContainer .editorContainer {
    flex: 1;
  }

  .CMain .inputContainer .editorContainer textarea {
    height: 100%;
  }

  .CMain .inputContainer .fixedActionContainer {
    width: 100%;
    height: 80px;
    padding: 16px 0;
    display: flex;
    text-align: center;
    justify-content: flex-end;
  }

  .CMain .inputContainer .fixedActionContainer div {
    margin: 0 8px;
  }

  .textlabel {
    background-color: white;
    margin-bottom: 4px;
    width: 160px;
    height: 28px;
    line-height: 28px;
    padding-left: 4px;
    overflow: hidden;
  }
}
