@media (min-width: 560px) {
  .rootContainer {
    height: 100%;
  }

  .mainContainer {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    display: flex;
  }

  .mainContainer .textsContainer {
    width: 160px;
    border-right: solid medium gray;
  }

  .mainContainer .inputContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .mainContainer .inputContainer .editor {
    width: 100%;
    flex: 1;
    outline: none;
    padding: 8px;
    border: none;
  }

  .mainContainer .inputContainer .fixedActionContainer {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
  }

  .textlabel {
    width: 160px;
    height: 28px;
    line-height: 28px;
    padding-left: 8px;
    overflow: hidden;
    border-bottom: solid thin gray;
  }
}
