@media (max-width: 559px) {
  .fixedActionContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 16px;
    display: flex;
    justify-content: space-around;
  }

  .fixedActionContainer .item {
    width: 96px;
  }

  .moveabs {
    position: fixed;
    z-index: 1;
  }

  .textlabel {
    width: 160px;
    background-color: rgba(211, 211, 211, 0.6);
    height: 28px;
    line-height: 28px;
    padding-left: 8px;
    overflow: hidden;
  }
  .textlabel.willArchive {
    background-color: rgba(255, 0, 0, 0.6);
  }

  .red {
    color: red;
  }
  .editor {
    display: none;
  }
}
